<h1></h1>

{{ content }}

<hr>

<footer >

            <div >
                <div >
                    <div style="float: left;">Subscribe to "Tech Designers" to get free resources for tech savy designers 
                        <a href="https://rosy.substack.com" target="_blank"></a>
                           
                    </div>
                </div>
               
                <div >
                    <div style="float: right;">
                        <p>&copy; 2020
                      Coded with <3 by Rosy H Nguyen
                        </p>
                    </div>
                </div>
            </div><!-- .row end -->
         
</footer>
